{% extends "base.html" %}

{% block contenido %}
            <div class="container">
                <h3 class="text-center bg-white mt-4 pb-2">Configuración</h3>
                <div class="border p-3 mt-4">
                    <!-- Primera columna -->
                    <div class="text-center">
                        <button class="btn btn-secondary btn-block mb-3" id="a1">JEFFER</button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-secondary btn-block mb-3" id="a2">SE</button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-secondary btn-block mb-3" id="a3">LA</button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-secondary btn-block mb-3" id="a4">COME</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

{% endblock %}