{% extends "base.html" %}

{% block contenido %}
            <div class="container-fluid">
                <div class="row text-center">
                    <h3 class="pb-2 bg-white mb-4">Historial de Vehiculos</h3>
                    <div class="col">
                        <div class="container">
                            <div class="border p-3 ">
                                <div class="container">
                                    <div class="row">
                                        <!-- Primera columna -->
                                        <div class="col">
                                            <div class="p-3 text-center">
                                                <label for="desde"><h5>TE ME:</h5></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="desde" placeholder="HEY">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Segunda columna -->
                                        <div class="col">
                                            <div class=" p-3 text-center">
                                                <label for="hasta"><h5>CUIDAS</h5></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="hasta" placeholder="VAPUES IJUEPU">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table custom-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">PUTA 1</th>
                                            <th scope="col">PUTA 2</th>
                                            <th scope="col">PUTA 3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>.</td>
                                            <td>.</td>
                                            <td>.</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>.</td>
                                            <td>.</td>
                                            <td>.</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>.</td>
                                            <td>.</td>
                                            <td>.</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>.</td>
                                            <td>.</td>
                                            <td>.</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>.</td>
                                            <td>.</td>
                                            <td>.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

{% endblock %}