{% extends "base.html" %}

{% block contenido %}

            <div class="container-fluid px-4">
                <div class="container-fluid">
                    <div class="row g-0 text-center m-4">
                        <div class="col-sm-4 col-sm-7 me-5">
                            <div class="container mt-5">
                                <div class="border p-3 parqueos-container">
                                    <div id="date" style="font-size: 50px;"></div>
                                    <div id="clock" style="font-size: 50px;"></div>                            
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="container mt-5">
                                <div class="container mt-5 parqueos-container">
                                    <div class="p-3" style="font-size: 50px;">
                                        <p class="parqueos-text"><h2>Parqueos Disponibles:</h2></p>
                                        <div class="spinner-border text-secondary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <span id="contador-parqueos" class="parqueos-counter">{{ totaldisponibles }}</span>
                                        <span id="contador-parqueos2" class="parqueos-counter2">{{ totaldisponiblesmotos }}</span>
                                        <span id="contador-parqueos3" class="parqueos-counter3">{{ totaldisponiblesmicros }}</span>
                                        <span id="contador-parqueos4" class="parqueos-counter4">{{ totaldisponblestodos }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  <form method="post" id="myForm" action="{% url 'agregarRegistro' %}" >
                  <div class="container mt-5">
                        
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <label for="matricula">Matricula:</label>
                                
                                <input type="text" class="form-control" id="nombre1" placeholder="" name="Matricula">
                            </div>
                
                            <div class="col-md-4">
                                <label for="tipoVehiculo">Tipo Vehiculo:</label>
                                <select class="form-select" id="tipoVehiculo" name="tipoVehiculo">
                                    <option value="carro" data-id="1">Carro</option>
                                    <option value="moto" data-id="2">Moto</option>
                                
                                    <option value="Microbus" data-id="3">Microbus</option>
                                    <!-- Agrega más opciones según sea necesario -->
                                </select>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="rol">Rol:</label>
                                <select class="form-select" id="rol" name="rol">
                                    <option value="Estudiante">Estudiante</option>
                                    <option value="Profesor">Profesor</option>
                                    <option value="Invitado">Invitado</option>
                                    <!-- Agrega más opciones según sea necesario -->
                                </select>
                            </div>
                                                    
                        </div>
                    </div>
                    <input type="hidden" id="fechaActual" name="fechaActual">
                    <input type="hidden" id="horaActual" name="horaActual">
                    <input type="hidden" id="Id_tabla_historial" name="Id_tabla_historial" name="Id_tabla_historial" value="1">


                    <div class="text-center mt-3">
                        <button class="btn btn-secondary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

   
    {% endblock %}