{% extends "base.html" %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="pb-2 bg-white mb-4"><CENTER>Salidas Vehiculares</CENTER></h3>       
            <div class="container">
                <div class="d-flex justify-content-end pb-3">
                    <div class="text-right">
                        <input type="text" id="campo_busqueda" placeholder="CARNET/DUI:">
                        <button id="boton_buscar">Buscar</button>
                        <a href="#" id="mostrar_todos" style="display: none;">Mostrar todos los registros</a>
                    </div>
                </div>
                <div class="col">
                    <div class="border p-3">
                        <table class="table table-hover table-striped table-bordered" id="example">
                            <thead style="background-color: rgb(202, 199, 194); color: #121213;">
                                <th>IDENTIFICADOR</th>
                                <th>TIPO DE VEHICULO</th>
                                <th>FECHA</th>
                                <th>HORA DE ENTRADA</th>
                                <th>TIEMPO TRANSCURRIDO</th>
                                <th>USUARIO</th>
                                <th>ESTADO</th>
                            </thead>
                            <tbody>
                                {% for c in registros %}
                                <tr>
                                    <td>{{c.Matricula}}</td>
                                    <td>{{c.Tipo_de_vehiculo}}</td>
                                    <td>{{c.fecha}}</td>
                                    <td>{{c.Hora_de_entrada}}</td>
                                    <td class="cronometro">{{ c.tiempo_transcurrido }}</td>
                                    <td>{{c.Usuario}}</td>
                                    <td>{{c.Estado}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}